@* _Footer.cshtml *@
<footer>
    &copy; @DateTime.Now.Year
    FitnessPlusPlus contact: FitnessPlusPlus@gmail.com
    FitnessPlusPlus phone: +64022226666
    <a href="https://validator.w3.org/docs/users.html#Calling" target="_blank">W3C Validator API</a>
    <a href="https://jigsaw.w3.org/css-validator/manual.html" target="_blank">CSS Validator</a></p>
    <p>All images taken from: <a href="https://unsplash.com/" target="_blank">Unsplash</a><p/>
</footer>
